/*=====================*/
/* CUBIC BEZIER CURVES */
/*=====================*/
/*
Service box
*/
.wtbx_vc_service .wtbx_service_bullet_number {
  font-weight: 300;
  letter-spacing: 0.05em;
}

.wtbx_vc_service .wtbx_service_bullet_abbr {
  font-weight: 300;
  letter-spacing: 0.05em;
}

.wtbx_vc_service .wtbx_service_bullet_image {
  padding: 2px;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: -webkit-translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.wtbx_vc_service .wtbx_service_bullet_image .wtbx-lazy {
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: -webkit-translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.wtbx_vc_service .wtbx_service_content .wtbx_service_title {
  font-size: 1.428571em;
  line-height: 1.75;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  display: inline-block;
}

.wtbx_vc_service .wtbx_service_content .wtbx_service_title + .wtbx_service_descr {
  margin-top: 1em;
}

.wtbx_vc_service .wtbx_service_content .wtbx_service_descr > p:first-child {
  margin-top: 0;
}

.wtbx_vc_service .wtbx_service_content .wtbx_service_descr > p:last-child {
  margin-bottom: 0;
}

.wtbx_vc_service .wtbx_service_bullet {
  display: inline-block;
}

.wtbx_vc_service.wtbx_bullet_cont_circle .wtbx_service_bullet {
  border-radius: 50%;
  color: #fff;
}

.wtbx_vc_service.wtbx_bullet_cont_circle path {
  stroke: #fff;
}

.wtbx_vc_service.wtbx_bullet_cont_circle .wtbx_service_bullet_inner {
  border-radius: 50%;
}

.wtbx_vc_service.wtbx_bullet_cont_circle .wtbx_service_bullet_inner img {
  border-radius: 50%;
}

.wtbx_vc_service.wtbx_bullet_cont_rounded .wtbx_service_bullet {
  border-radius: 30%;
  color: #fff;
}

.wtbx_vc_service.wtbx_bullet_cont_rounded path {
  stroke: #fff;
}

.wtbx_vc_service.wtbx_bullet_cont_rounded .wtbx_service_bullet_inner {
  border-radius: 30%;
}

.wtbx_vc_service.wtbx_bullet_cont_rounded .wtbx_service_bullet_inner img {
  border-radius: 30%;
}

.wtbx_vc_service.wtbx_bullet_cont_square .wtbx_service_bullet {
  border-radius: 2px;
  color: #fff;
}

.wtbx_vc_service.wtbx_bullet_cont_square path {
  stroke: #fff;
}

.wtbx_vc_service.wtbx_bullet_cont_square .wtbx_service_bullet_inner {
  border-radius: 2px;
}

.wtbx_vc_service.wtbx_bullet_cont_square .wtbx_service_bullet_inner img {
  border-radius: 2px;
}

.wtbx_vc_service.wtbx_bullet_light_shadow .wtbx_service_bullet_inner {
  box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1);
}

.wtbx_vc_service.wtbx_bullet_dark_shadow .wtbx_service_bullet_inner {
  box-shadow: 0 15px 55px -5px rgba(9, 31, 67, 0.15);
}

.wtbx_vc_service.wtbx_bullet_border_dashed .wtbx_service_bullet {
  padding: 7px;
  border-width: 1px;
  border-style: dashed;
}

.wtbx_vc_service .wtbx_service_bullet_icon {
  position: relative;
}

.wtbx_vc_service .wtbx_service_bullet_icon .wtbx_vc_icon {
  line-height: inherit;
  display: inline-block;
}

.wtbx_vc_service .wtbx_service_bullet_icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: -webkit-translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.wtbx_vc_service .wtbx_service_bullet .wtbx_service_bullet_icon,
.wtbx_vc_service .wtbx_service_bullet .wtbx_service_bullet_image,
.wtbx_vc_service .wtbx_service_bullet .wtbx_service_bullet_number,
.wtbx_vc_service .wtbx_service_bullet .wtbx_service_bullet_abbr {
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
}

.wtbx_vc_service.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_icon,
.wtbx_vc_service.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_number,
.wtbx_vc_service.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_abbr {
  width: 1em;
  height: 1.5em;
  line-height: 1.5em;
}

.wtbx_vc_service.wtbx_style_left .wtbx_service_bullet,
.wtbx_vc_service.wtbx_style_left .wtbx_service_content, .wtbx_vc_service.wtbx_style_right .wtbx_service_bullet,
.wtbx_vc_service.wtbx_style_right .wtbx_service_content {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wtbx_vc_service.wtbx_style_left .wtbx_service_bullet .wtbx_service_bullet_icon, .wtbx_vc_service.wtbx_style_right .wtbx_service_bullet .wtbx_service_bullet_icon {
  font-size: 24px;
}

.wtbx_vc_service.wtbx_style_left .wtbx_service_bullet .wtbx_service_bullet_icon svg, .wtbx_vc_service.wtbx_style_right .wtbx_service_bullet .wtbx_service_bullet_icon svg {
  width: 24px;
  height: 24px;
}

.wtbx_vc_service.wtbx_style_left .wtbx_service_bullet_number,
.wtbx_vc_service.wtbx_style_left .wtbx_service_bullet_abbr, .wtbx_vc_service.wtbx_style_right .wtbx_service_bullet_number,
.wtbx_vc_service.wtbx_style_right .wtbx_service_bullet_abbr {
  width: auto;
  height: auto;
}

.wtbx_vc_service.wtbx_style_left.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_number,
.wtbx_vc_service.wtbx_style_left.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_abbr, .wtbx_vc_service.wtbx_style_right.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_number,
.wtbx_vc_service.wtbx_style_right.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_abbr {
  width: auto;
  height: auto;
}

.wtbx_vc_service.wtbx_style_left {
  text-align: left;
}

.wtbx_vc_service.wtbx_style_left .wtbx_service_bullet {
  float: left;
  text-align: center;
  margin-right: 15px;
}

.wtbx_vc_service.wtbx_style_left.wtbx_bullet_border_dashed .wtbx_service_content {
  margin-left: 14px;
}

.wtbx_vc_service.wtbx_style_right {
  text-align: right;
}

.wtbx_vc_service.wtbx_style_right .wtbx_service_bullet {
  float: right;
  text-align: center;
  margin-left: 15px;
}

.wtbx_vc_service.wtbx_style_right.wtbx_bullet_border_dashed .wtbx_service_content {
  margin-right: 14px;
}

.wtbx_vc_service.wtbx_style_center .wtbx_vc_service_inner {
  text-align: center;
}

.wtbx_vc_service.wtbx_style_center .wtbx_vc_service_inner .wtbx_service_bullet {
  text-align: center;
  display: inline-block;
  margin: 0 auto 1em;
}

@media only screen and (max-width: 767px) {
  .wtbx_vc_service.wtbx_style_center .wtbx_vc_service_inner {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.wtbx_vc_service.wtbx_style_center_left .wtbx_vc_service_inner {
  text-align: left;
}

.wtbx_vc_service.wtbx_style_center_left .wtbx_vc_service_inner .wtbx_service_bullet {
  text-align: center;
  display: inline-block;
  margin: 0 auto 1em;
}

.wtbx_vc_service.wtbx_style_center_left.wtbx_bullet_cont_empty .wtbx_vc_service_inner .wtbx_service_bullet {
  text-align: left;
}

.wtbx_vc_service.wtbx_style_center_left.wtbx_bullet_cont_empty .wtbx_vc_service_inner .wtbx_service_bullet .wtbx_service_bullet_icon,
.wtbx_vc_service.wtbx_style_center_left.wtbx_bullet_cont_empty .wtbx_vc_service_inner .wtbx_service_bullet .wtbx_service_bullet_number,
.wtbx_vc_service.wtbx_style_center_left.wtbx_bullet_cont_empty .wtbx_vc_service_inner .wtbx_service_bullet .wtbx_service_bullet_abbr {
  height: auto;
  line-height: normal;
}

@media only screen and (max-width: 767px) {
  .wtbx_vc_service.wtbx_style_center_left .wtbx_vc_service_inner {
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .wtbx_vc_service.wtbx_style_center_left .wtbx_vc_service_inner .wtbx_service_bullet {
    text-align: center;
  }
}

.wtbx_vc_service.wtbx_style_center_right .wtbx_vc_service_inner {
  text-align: right;
}

.wtbx_vc_service.wtbx_style_center_right .wtbx_vc_service_inner .wtbx_service_bullet {
  text-align: center;
  display: inline-block;
  margin: 0 auto 1em;
}

.wtbx_vc_service.wtbx_style_center_right.wtbx_bullet_cont_empty .wtbx_vc_service_inner .wtbx_service_bullet {
  text-align: right;
}

.wtbx_vc_service.wtbx_style_center_right.wtbx_bullet_cont_empty .wtbx_vc_service_inner .wtbx_service_bullet .wtbx_service_bullet_icon,
.wtbx_vc_service.wtbx_style_center_right.wtbx_bullet_cont_empty .wtbx_vc_service_inner .wtbx_service_bullet .wtbx_service_bullet_number,
.wtbx_vc_service.wtbx_style_center_right.wtbx_bullet_cont_empty .wtbx_vc_service_inner .wtbx_service_bullet .wtbx_service_bullet_abbr {
  height: auto;
  line-height: normal;
}

@media only screen and (max-width: 767px) {
  .wtbx_vc_service.wtbx_style_center_right .wtbx_vc_service_inner {
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .wtbx_vc_service.wtbx_style_center_right .wtbx_vc_service_inner .wtbx_service_bullet {
    text-align: center;
  }
}

.wtbx_vc_service.wtbx_style_center .wtbx_service_bullet .wtbx_service_bullet_icon,
.wtbx_vc_service.wtbx_style_center .wtbx_service_bullet .wtbx_service_bullet_number,
.wtbx_vc_service.wtbx_style_center .wtbx_service_bullet .wtbx_service_bullet_abbr, .wtbx_vc_service.wtbx_style_center_left .wtbx_service_bullet .wtbx_service_bullet_icon,
.wtbx_vc_service.wtbx_style_center_left .wtbx_service_bullet .wtbx_service_bullet_number,
.wtbx_vc_service.wtbx_style_center_left .wtbx_service_bullet .wtbx_service_bullet_abbr, .wtbx_vc_service.wtbx_style_center_right .wtbx_service_bullet .wtbx_service_bullet_icon,
.wtbx_vc_service.wtbx_style_center_right .wtbx_service_bullet .wtbx_service_bullet_number,
.wtbx_vc_service.wtbx_style_center_right .wtbx_service_bullet .wtbx_service_bullet_abbr {
  font-size: 32px;
}

.wtbx_vc_service.wtbx_style_center .wtbx_service_bullet .wtbx_service_bullet_icon svg,
.wtbx_vc_service.wtbx_style_center .wtbx_service_bullet .wtbx_service_bullet_number svg,
.wtbx_vc_service.wtbx_style_center .wtbx_service_bullet .wtbx_service_bullet_abbr svg, .wtbx_vc_service.wtbx_style_center_left .wtbx_service_bullet .wtbx_service_bullet_icon svg,
.wtbx_vc_service.wtbx_style_center_left .wtbx_service_bullet .wtbx_service_bullet_number svg,
.wtbx_vc_service.wtbx_style_center_left .wtbx_service_bullet .wtbx_service_bullet_abbr svg, .wtbx_vc_service.wtbx_style_center_right .wtbx_service_bullet .wtbx_service_bullet_icon svg,
.wtbx_vc_service.wtbx_style_center_right .wtbx_service_bullet .wtbx_service_bullet_number svg,
.wtbx_vc_service.wtbx_style_center_right .wtbx_service_bullet .wtbx_service_bullet_abbr svg {
  width: 32px;
  height: 32px;
}

.wtbx_vc_service.wtbx_style_center.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_icon,
.wtbx_vc_service.wtbx_style_center.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_number,
.wtbx_vc_service.wtbx_style_center.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_abbr, .wtbx_vc_service.wtbx_style_center_left.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_icon,
.wtbx_vc_service.wtbx_style_center_left.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_number,
.wtbx_vc_service.wtbx_style_center_left.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_abbr, .wtbx_vc_service.wtbx_style_center_right.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_icon,
.wtbx_vc_service.wtbx_style_center_right.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_number,
.wtbx_vc_service.wtbx_style_center_right.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_abbr {
  font-size: 40px;
}

.wtbx_vc_service.wtbx_style_center.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_icon svg,
.wtbx_vc_service.wtbx_style_center.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_number svg,
.wtbx_vc_service.wtbx_style_center.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_abbr svg, .wtbx_vc_service.wtbx_style_center_left.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_icon svg,
.wtbx_vc_service.wtbx_style_center_left.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_number svg,
.wtbx_vc_service.wtbx_style_center_left.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_abbr svg, .wtbx_vc_service.wtbx_style_center_right.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_icon svg,
.wtbx_vc_service.wtbx_style_center_right.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_number svg,
.wtbx_vc_service.wtbx_style_center_right.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_abbr svg {
  width: 40px;
  height: 40px;
}

.wtbx_vc_service.wtbx_style_center .wtbx_service_bullet_number,
.wtbx_vc_service.wtbx_style_center .wtbx_service_bullet_abbr, .wtbx_vc_service.wtbx_style_center_left .wtbx_service_bullet_number,
.wtbx_vc_service.wtbx_style_center_left .wtbx_service_bullet_abbr, .wtbx_vc_service.wtbx_style_center_right .wtbx_service_bullet_number,
.wtbx_vc_service.wtbx_style_center_right .wtbx_service_bullet_abbr {
  width: auto;
  height: auto;
}

.wtbx_vc_service.wtbx_style_center.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_number,
.wtbx_vc_service.wtbx_style_center.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_abbr, .wtbx_vc_service.wtbx_style_center_left.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_number,
.wtbx_vc_service.wtbx_style_center_left.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_abbr, .wtbx_vc_service.wtbx_style_center_right.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_number,
.wtbx_vc_service.wtbx_style_center_right.wtbx_bullet_cont_empty .wtbx_service_bullet .wtbx_service_bullet_abbr {
  width: auto;
  height: auto;
}
